---
import { getCollection } from 'astro:content'

const blogEntries = (
  await getCollection('blog', ({ data }) => {
    return data.isDraft !== true
  })
).sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf())

// const blogEntries = await getCollection('blog');
// console.log({ posts: blogEntries[0].data })
const posts = blogEntries.slice(0, 3)
---

<section class='posts'>
  <h6>Últimos Artículos Publicados</h6>

  <div class='posts_list'>
    {
      posts.map(post => {
        return (
          <article>
            <img src={post.data.featureImage} alt={post.data.title} loading='lazy' width='340' height='200' />
            <div class='post_info'>
              <h2 class='title'>
                <a href={post.data.canonicalURL}>{post.data.title}</a>
              </h2>
              <div class='description'>
                <p>{post.data.description}</p>
              </div>
            </div>
          </article>
        )
      })
    }
  </div>

  <a class='btn_cv' href='https://cv.johnserrano.co/' target='_blank'>Explorar Versión Minimalista De Mi Portafolio</a>
</section>

<style>
  .posts {
    margin: 100px 0;
  }

  h6 {
    font-size: var(--font-size-large);
    color: var(--color-white);
    line-height: 2.3rem;
    margin: 0;
    text-wrap: balance;
    margin-bottom: 58px;
    text-align: center;
  }

  .posts_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  article {
    position: relative;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid var(--color-blue-800);
  }

  article:hover {
    box-shadow: 0 5px 30px -15px var(--color-blue-700);
  }

  article:hover .title {
    color: var(--color-yellow);
  }

  article img {
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
  }

  article:nth-of-type(2) {
    transform: translateY(-18px);
  }

  .title {
    font-size: var(--font-size-medium);
    line-height: 1.8rem;
    color: var(--color-blue-500);
    margin: 0 0 15px;
    transition: all 0.3s;
  }

  .title a {
    text-decoration: none;
    color: inherit;
  }

  .title a::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }

  .post_info {
    padding: 10px 15px 20px;
  }

  .description p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--font-size-medium-text);
    line-height: 1.5rem;
    color: var(--color-white-opacity-70);
    margin: 0;
  }

  .btn_cv {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--color-blue-500);
    color: var(--color-blue-500);
    font-size: var(--font-size-medium-small);
    transition: all 0.3s;
    outline: none;
    margin: 100px auto 0;
    display: flex;
    max-width: max-content;
  }

  .btn_cv:hover {
    box-shadow: 4px 4px 0 0 var(--color-blue-500);
    transform: translate(-5px, -5px);
  }

  @media screen and (max-width: 768px) {
    .posts {
      margin-top: 50px;
    }
    article:nth-of-type(2) {
      transform: translateY(0px);
    }
    .btn_cv {
      line-height: 1.6rem;
      margin-top: 80px;
      text-align: center;
      width: 260px;
    }
  }
</style>
