---
import IconoExternalLink from '@/components/portafolio/icons/icono-external-link.astro'
import IconoGithub from '@/components/portafolio/icons/icono-github.astro'
import { featuredProjects } from '@/helpers/conts'
---

<section id='projects' class='projects'>
  <h6>Amo Lo Que Hago Algunos De Mis Proyectos</h6>
  <ul class='project_list'>
    {
      featuredProjects.map((project, idx) => {
        const isOdd = idx % 2 === 1

        return (
          <li class='project'>
            {isOdd ? (
              <>
                <div class='image'>
                  <a href={project.link} rel='noopener noreferrer' target='_blank'>
                    <div class='filter'>
                      <img src={project.image} alt={project.title} width='580' height='400' loading='lazy' />
                    </div>
                  </a>
                </div>
                <div class='info'>
                  <div>
                    <span class='featured'>Proyecto destacado</span>
                    <h3>
                      <a href={project.link} rel='noopener noreferrer' target='_blank'>
                        {project.title}
                      </a>
                    </h3>
                    <div class='description'>
                      <p>{project.description}</p>
                    </div>
                    <ul class='project_tech_list'>
                      {project.techList.map(tech => (
                        <li>{tech}</li>
                      ))}
                    </ul>
                    <div class='project_links'>
                      {project.githubLink && (
                        <a href={project.githubLink} aria-label='GitHub Link' rel='noopener noreferrer' target='_blank'>
                          <IconoGithub />
                        </a>
                      )}
                      <a
                        href={project.externalLink || project.link}
                        aria-label='External Link'
                        class='external'
                        rel='noopener noreferrer'
                        target='_blank'
                      >
                        <IconoExternalLink />
                      </a>
                    </div>
                  </div>
                </div>
              </>
            ) : (
              <>
                <div class='info'>
                  <div>
                    <span class='featured'>Proyecto destacado</span>
                    <h3>
                      <a href={project.link} rel='noopener noreferrer' target='_blank'>
                        {project.title}
                      </a>
                    </h3>
                    <div class='description'>
                      <p>{project.description}</p>
                    </div>
                    <ul class='project_tech_list'>
                      {project.techList.map(tech => (
                        <li>{tech}</li>
                      ))}
                    </ul>
                    <div class='project_links'>
                      {project.githubLink && (
                        <a href={project.githubLink} aria-label='GitHub Link' rel='noopener noreferrer' target='_blank'>
                          <IconoGithub />
                        </a>
                      )}
                      <a
                        href={project.externalLink || project.link}
                        aria-label='External Link'
                        class='external'
                        rel='noopener noreferrer'
                        target='_blank'
                      >
                        <IconoExternalLink />
                      </a>
                    </div>
                  </div>
                </div>
                <div class='image'>
                  <a href={project.link} rel='noopener noreferrer' target='_blank'>
                    <div class='filter'>
                      <img src={project.image} alt={project.title} width='580' height='400' loading='lazy' />
                    </div>
                  </a>
                </div>
              </>
            )}
          </li>
        )
      })
    }
  </ul>
</section>

<style>
  .projects {
    margin: 100px 0;
  }

  h6 {
    font-size: var(--font-size-large);
    color: var(--color-white);
    line-height: 2.3rem;
    margin: 0;
    text-wrap: balance;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
  }

  .project_list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .project {
    display: grid;
    /* grid-template-columns: 1fr 600px; */
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    align-items: center;
    -webkit-box-align: center;
    position: relative;
    margin-bottom: 100px;
  }
  .info {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
  }
  .image {
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    height: 100%;
    min-height: 400px;
    z-index: 1;
  }

  .image a {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: var(--color-blue-600);
    border-radius: 4px;
    display: flex;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .image a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: var(--dark-color);
    mix-blend-mode: screen;
  }
  .image a:hover {
    background: transparent;
    outline: 0px;
  }
  .image a:hover::before {
    background: transparent;
    filter: none;
  }
  .filter {
    width: 100%;
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
    position: relative;
  }
  .image a:hover .filter {
    background: transparent;
    filter: none;
  }
  .filter img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  .project:nth-of-type(2n + 1) .info {
    grid-column: 7 / -1;
    text-align: right;
  }
  .project:nth-of-type(2n + 1) .image {
    grid-column: 1 / 8;
  }
  .featured {
    display: block;
    color: var(--color-blue-500);
    font-size: var(--font-size-small);
    margin: 10px 0;
    position: relative;
    z-index: 2;
  }
  h3 {
    margin: 0;
    font-size: var(--font-size-medium);
    opacity: 0.9;
    margin: 0 0 20px;
    text-wrap: balance;
    line-height: 1.1;
    font-weight: 700;
  }

  h3 a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
  }
  h3 a:hover {
    color: var(--color-blue-500);
  }
  .description {
    font-size: var(--font-size-normal);
    line-height: 1.3rem;
    color: var(--color-white);
    opacity: 0.7;
    background-color: var(--color-blue-900);
    padding: 25px 30px;
    box-shadow: 0 10px 30px -15px rgb(4 126 255 / 50%);
    border-radius: 4px;
    position: relative;
    z-index: 2;
  }
  .description p {
    margin: 0 0 15px;
  }
  .description p:last-child {
    margin: 0;
  }
  .project_tech_list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--color-white);
    font-size: var(--font-size-small);
    margin: 25px 0 10px;
    opacity: 0.7;
  }
  .project_links {
    display: flex;
    gap: 20px;
  }
  .project:nth-of-type(2n + 1) .project_tech_list,
  .project:nth-of-type(2n + 1) .project_links {
    justify-content: end;
  }
  .project_links a {
    text-decoration: none;
    color: var(--color-white);
    opacity: 0.7;
    transition: all 0.3s;
  }
  .project_links a:hover {
    color: var(--color-blue-500);
  }
  svg {
    height: 20px;
    width: 20px;
  }
  svg.feather {
    fill: none;
  }

  @media screen and (max-width: 768px) {
    .projects {
      margin: 55px auto;
    }
    .image {
      grid-column: 1 / -1;
      height: 100%;
      opacity: 0.25;
    }

    .project {
      margin-bottom: 30px;
    }

    .project:nth-of-type(2n + 1) .image {
      grid-column: 1 / -1;
    }

    .project:nth-of-type(2n + 1) .info {
      grid-column: 1 / -1;
      text-align: left;
    }

    .project .info {
      grid-column: 1 / -1;
      padding: 25px 25px 20px;
    }

    h3 {
      margin-bottom: 10px;
      text-wrap: initial;
      position: relative;
      z-index: 2;
    }

    .project_tech_list {
      justify-content: flex-start;
      -webkit-box-pack: start;
      margin: 10px 0px;
      flex-flow: wrap;
      gap: 3px 10px;
    }

    .project .project_tech_list:nth-of-type(2n + 1) {
      justify-content: flex-start;
      -webkit-box-pack: start;
    }

    .project:nth-of-type(2n + 1) .project_links {
      justify-content: flex-start;
      -webkit-box-pack: start;
    }

    .filter {
      filter: grayscale(100%) contrast(1) brightness(50%);
    }

    .description {
      padding: 20px 0px;
      background-color: transparent;
      box-shadow: none;
      position: relative;
      z-index: 2;
    }

    .image a:hover::before {
      background-color: var(--dark-color);
      filter: inherit;
    }

    .image a:hover .filter {
      filter: grayscale(100%) contrast(1) brightness(50%);
    }

    .image a:hover {
      background-color: var(--color-blue-600);
    }
  }
</style>
