---
import Project from './Project.astro'
import Layout from '@/layouts/index.astro'
import { projects } from '@/helpers/conts'
---

<Layout
  title='Portafolio - Proyectos | Frontend, JavaScript, TypeScript, React, Node.js'
  description='John Serrano es un ingeniero de software apasionado, experto en la creación e implementación de soluciones tecnológicas que dan vida a experiencias digitales únicas.'
  image='/portafolio/portada-john-serrano.png'
  url='https://johnserrano.co/portafolio/proyectos'
  titleOpenGraph='Portafolio - Proyectos | Frontend, JavaScript, TypeScript, React, Node.js'
  date=''
  modified=''
>
  <section id='Portafolio' class='more_projects'>
    <h1 data-aos='fade-up' data-aos-delay='50'>Proyectos</h1>
    <ul class='project_list'>
      {
        projects.map((project, idx) => (
          <Project
            title={project.title}
            description={project.description}
            link={project.link}
            externalLink={project.externalLink}
            githubLink={project.githubLink}
            techList={project.techList ?? []}
            data-aos='fade-up'
            data-aos-delay={50 + idx * 50}
          />
        ))
      }
    </ul>
  </section>
</Layout>

<script>
  import AOS from 'aos'
  import 'aos/dist/aos.css'

  AOS.init({
    disable: false,
    startEvent: 'DOMContentLoaded',
    initClassName: 'aos-init',
    animatedClassName: 'aos-animate',
    useClassNames: false,
    disableMutationObserver: false,
    debounceDelay: 50,
    throttleDelay: 99,
    offset: 120,
    delay: 0,
    duration: 400,
    easing: 'ease-in-out',
    once: true,
    mirror: false,
    anchorPlacement: 'top-bottom',
  })
</script>

<style>
  #Portafolio {
    --primary-color: #003566;
    --dark-color: #000814;
    --color-blue: #001d3d;
    --secondary-color: #002851;
    --tertiary-color: #004d94;
    --color-blue-500: #007cff;
    --color-blue-600: #005fdf;
    --color-blue-700: #004bb4;
    --color-blue-800: #004095;
    --color-blue-900: #002e6b;
    --light-gray: #344358;
    --color-gray: #2f3a4c;
    --dark-gray: #1f2532;
    --color-white: #fff;
    --color-white-opacity-70: #ffffffb3;
    --color-black: #000;
    --color-yellow: #ffc300;
    --container: 1000px;
    --font-size-small: 0.98rem;
    --font-size-normal: 1rem;
    --font-size-medium-small: 1.3rem;
    --font-size-medium-text: 1.2rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-x-large: 3.3rem;

    flex: 1;
    background: var(--dark-color);
    /* margin-top: 60px;
    padding-top: 10px; */
  }

  .more_projects {
    background-color: var(--dark-color);
    padding: 50px 0 100px;
  }

  h1 {
    font-size: var(--font-size-large);
    color: var(--color-white);
    line-height: 2.3rem;
    margin: 0;
    text-wrap: balance;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
  }
  .project_list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
    max-width: var(--container);
  }
  .project_list li {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .project_list li:hover .project,
  .project_list li:focus-within .project {
    transform: translateY(-7px);
    box-shadow: 0 10px 30px -15px var(--color-blue-700);
  }
  .project_links {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    margin-right: -10px;
  }
  .project_links a {
    text-decoration: none;
    color: var(--color-white);
    opacity: 0.7;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px;
    position: relative;
    z-index: 1;
  }
  .project_links a:hover,
  .project_links a:focus {
    color: var(--color-blue-500);
  }
  .project {
    background-color: var(--color-blue-900);
    padding: 30px 28px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-radius: 4px;
    transition: all 0.3s;
    height: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    overflow: auto;
  }
  .project_top {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .description {
    font-size: var(--font-size-normal);
    line-height: 1.3rem;
    color: var(--color-white-opacity-70);
    background-color: var(--color-blue-900);
  }
  .description p {
    margin: 0;
  }
  .title {
    font-size: var(--font-size-medium);
    line-height: 1.8rem;
    margin: 0 0 10px;
    font-weight: 700;
  }
  .title a {
    text-decoration: none;
    color: var(--color-white);
    position: static;
    display: inline-block;
    transition: all 0.3s;
  }
  .title a:hover {
    color: var(--color-blue-500);
  }
  .title a::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  .project_tech_list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--color-white-opacity-70);
    font-size: var(--font-size-small);
    margin: 25px 0 10px;
  }
  .folder {
    height: 40px;
  }
  @media screen and (max-width: 768px) {
    .more_projects {
      margin: 55px auto;
    }
  }
</style>
