---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/index.astro'

import PostsGrid from '../../components/PostsGrid'
import Cover from '../../components/Cover'
import PostTitle from '../../components/PostTitle'

export async function getStaticPaths() {
  const allPosts = await getCollection('blog', ({ data }) => {
    return data.draft !== true
  })

  const uniqueTags = [...new Set(allPosts.map(post => post.data.tags).flat())]

  return uniqueTags
    .map(tag => {
      const tagClean = tag.toLocaleLowerCase()

      const filteredPosts = allPosts.filter(post => {
        const tags = post.data.tags.map(t => t.toLocaleLowerCase())
        return tags.includes(tagClean)
      })

      return {
        params: { tag: tagClean.replaceAll(' ', '-') },
        props: { posts: filteredPosts },
      }
    })
    .slice(0, 27)
}

const { tag } = Astro.params
const { posts } = Astro.props

let filteredPosts = posts.filter(p => {
  return p.data.title && p.data.publishedDate
})

// DESC
let blogEntries = filteredPosts
  .sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf())
  .slice(0, 27)
---

<Layout
  title={`Etiqueta ${tag}`}
  description={`Explora todo nuestro contenido relacionado con ${tag} y descubre una variedad de artículos dedicados a este apasionante tema.`}
  url={`https://johnserrano.co/tags/${tag}`}
  titleOpenGraph={`${tag}`}
  datePublished=''
  modified=''
>
  <Cover>
    <PostTitle capitalize='capitalize'>{tag}</PostTitle>
  </Cover>
  <section id='Tag' class='container_old'>
    <PostsGrid posts={blogEntries} columns='3' />
  </section>
</Layout>

<style>
  #Tag {
    /* margin-top: 70px; */
    flex: 1;
  }

  @media screen and (max-width: 768px) {
    #Tag {
      margin-top: 30px;
    }
  }
</style>
