---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import PostHeader from '../components/PostHeader';
import '../styles/highlight.css'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, publishDate, updatedDate, featureImage, primaryAuthor = 'John Serrano', primaryTag = 'JavaScript'} = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<PostHeader
					client:load
					title={title}
					cover={featureImage ? featureImage : '/gallery.jpg'}
					published_at={publishDate}
					primary_author={primaryAuthor}
					primary_tag={primaryTag}
				/>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
