---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import PostHeader from '../components/PostHeader'
import Gtm from '../components/gtm.astro'
import AdSense from '../components/adsense.astro'
import '../styles/highlight.css'

type Props = CollectionEntry<'blog'>['data']

const {
  title,
  description,
  publishedDate,
  featureImage,
  primaryTag = { name: 'JavaScript', slug: 'javascript' },
} = Astro.props
// console.log({ primaryTag })

const primaryAuthor = { name: 'John Serrano' }
---

<html lang='es'>
  <head>
    <Gtm />
    <BaseHead
      title={`${title} | John Serrano`}
      description={description}
      image={featureImage}
      datePublished={publishedDate}
    />
    <AdSense />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <PostHeader
          title={title}
          published_at={publishedDate}
          primary_author={primaryAuthor}
          primary_tag={primaryTag}
        />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
